.flex-parent {
  display: flex;
  max-width:800px;
  background:#c9eeff;
  padding:10px 5px;
  .flex-child {
    padding:20px;
    margin:0 5px;
    width:25%;
    background:#65c2ed;
    color:#004565;
    &.one {
      align-self:flex-start;
    }
    &.two {
      align-self:flex-end;
    }
    &.three {
      align-self:center;
    }
    &.four {
      align-self:baseline;
    }
    h2 {
      margin:0;
    }
  }
}