* {
    box-sizing: border-box;
}

.lightning {
  background-image: url('./lightning-icon.png');
  background-size: cover;
  padding-top:   padding-top: calc(20% - 2em);
  margin-top: 2px;
  height: 20%;
  animation: shrinkFit 0.35s ease-in, wobble .11s 2; 
  animation-delay: 0s, .425s;
}

@keyframes shrinkFit {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes wobble  {
  0%  { transform:  rotate(0deg); }
  20%  { transform:  rotate(2.2deg); }
  50%  { transform:  rotate(-2.2deg); }
  100%  { transform:  rotate(0deg); }
}

@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(2.2deg); }
  50%  { -webkit-transform:  rotate(-2.2deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}