html{
  background-image: url("./silicon-chip.jpg");
  background-size: cover;
  background-repeat: round;
  background-position: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main, article, header {
  background-color: #95daa8;
  border: 0.75rem solid #e6e77f;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

header {
  height: 15%;
}

article {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

#start-quiz {
  display: flex;
  align-self: center;
  margin: 1em;
}

ul {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: center;
  box-sizing: border-box;
  margin: 1em;
}

/*ul:before {
  padding-top: 100%;
}*/

li {
  position: ;
  list-style: none;
  background-color: white;
  width: 20%;
  height: auto;
  margin: 1px;
}

.lightning{
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*@media (max-width:500px){
  li  {
    height: 2.5em;
    width: 2.5em;
    background-color: white;
    margin: 8px;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 0;
    padding-right: 0.2em;
  }

  main {

  }
  .tall {
    height: 4.2em
  }
}
*/


/*JS functionality*/
.unclicked {
  background-color: white;
  color: white; 
  padding-top: 20%;

}

.clicked {
  color: white;
  content: url('../lightning-icon.png');
  width: 20%;
  height: 20%;
}

p {
  text-align: center;
  margin: 0.2rem;
  display: block;
}

.output {
  background-color: #f8f5f7;
  text-align: center;
  border-size: border-box;
  border: 0.2em solid yellow;
  border-radius: 10%;
  margin: 5em;
}

.results-section, section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2em;
  height: 2.5em;
}

.last {
  margin: 0;
}

.result {
  margin-top: 10px;
  display: inline-block;
}

.intro {

}