* {
  box-sizing: border-box;
}
/*body, html{
  height: 100vh;
  height: 100vh;
}*/

html{
  background-image: url("./silicon-chip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main, article, header {
  border: 0.75rem solid #e6e77f;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

header {
  height: 15%;
}


main {
/*    background-color: #5dc075;
*/
  background-color: rgba(149, 218, 168, 0.59);
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

article {
  background-color: rgba(149, 218, 168, 0.85);
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#start-quiz {
  display: flex;
  align-self: center;
  margin: 1em;
}

ul {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: center;
  box-sizing: border-box;
  margin: 1em;
}


article.multiple-choice {

}

ul.example-boxes {
  margin: 0px;
  display: flex
  flex-wrap: wrap;
}


li {
  list-style: none;
  background-color: white;
  margin: 1px;
} 


#target{
  align-self: center;
  margin-top: 1em;
}

/*JS functionality*/
.box {
  background-color: white;
  color: white; 
  width: 20%;
  padding-top: calc(20% - 2em);
  border: 0.6em solid #95daa8;
}

.clicked {
  content: url('./lightning-icon.png');
  padding-top: 0;
  height: 20%;
}

p {
  text-align: center;
  margin: 0.2rem;
  display: block;
  font-size: 35px;
}

.output {
  background-color: #f8f5f7;
  text-align: center;
  border-size: border-box;
  border: 0.2em solid #e6e77f;
  border-radius: 10%;
  margin: 5em;
}

.results-section, section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2em;
  height: 2.5em;
}

.last {
  margin: 0;
}

.result {
  margin-top: 10px;
  display: inline-block;
}

.intro {

html{
  background-image: url("./silicon-chip.jpg");
  background-size: cover;
  background-repeat: round;
  background-position: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main, article, header {
  background-color: #95daa8;
  border: 0.75rem solid #e6e77f;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

header {
  height: 15%;
}



#start-quiz {
  display: flex;
  align-self: center;
  margin: 1em;
}main
/*JS functionality*/
.unclicked {
  background-color: white;
  color: white; 
  padding-top: 20%;

}

.click {
  height: 100%;
  width: 100%;
}

.clicked {
  color: white;
  content: url('../lightning-icon.png');
  width: 20%;
  height: 20%;
}

p {
  text-align: center;
  margin: 0.2rem;
  display: block;
}

.output {
  background-color: #f8f5f7;
  text-align: center;
  border-size: border-box;
  border: 0.2em solid goldenrod;
  border-radius: 10%;
  margin: 5em;
}

.results-section, section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2em;
  height: 2.5em;
}

.last {
  margin: 0;
}

.result {
  margin-top: 10px;
  display: inline-block;
}

.example-boxes {
  display: flex;
  flex-direction: row;
  align-self: center;
  box-sizing: border-box;
  margin: 1em;
}

/* Fade in the currently hovered item */