* {
  box-sizing: border-box;
}
html {
  background-image: url("./silicon-chip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main, header, .result, aside{
  border: 0.75rem solid #e6e77f;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

aside {
  background-color: #7abf8d;
  width: 75%;
  align-self: center;
  padding: 2.5%;
}

header {
  height: 15%;
}

main {
  background-color: rgba(149, 218, 168, 0.59);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 80%;
  justify-content: space-evenly/*flex-end | flex-end | center | space-between | space-around | space-evenly;*/
}

article {
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quizPage.article {
  width: 90%;
}

ul {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

li {
  list-style: none;
  background-color: white;
  margin: 1px;
} 

p.invisible {
  font-size: 1px;
}

button{      
  background-color: rgb(240, 249, 240);
    border-radius: 10px;
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.box.lightning {
    pointer-events: none;

}

/*JS functionality*/
.box, .clicked{
  flex-basis: 20%;
  align-items: stretch;
  background-color: white;
  color: white; 
  padding-top: calc(20% - 2em);
  border: 0.5em solid rgba(238, 248, 238, 0.85);
}

.clicked {
  background-image: url('./lightning-icon.png'); 
  background-size: cover;
}

p, button span {
  text-align: center;
  margin: 0.2rem;
  display: block;
  font-size: 35px;
  border-radius: 10px;
}

button {
  margin: 0 auto;
}

h1, h2, .chewy {
  font-family: 'Chewy', cursive;
  color: white;
  font-size: 5em;
}

h1 {
  margin: 0;
}

a {
  color: white;
}

.span-restart, .start-quiz {
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

form#start-quiz, form#restart {
  display: flex;
  align-self: center;
}

article.article-header > div > p {
  color: #95daa8;
  margin: 20px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main, header {
  background-color: #95daa8;
  border: 0.75rem solid #e6e77f;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

header {
  height: 15%;
}

.unclicked {
  background-color: white;
  color: white; 
}

.click {
  height: 100%;
  width: 100%;
}

.clicked {
  color: white;
  content: url('./lightning-icon.png');
  width: 20%;
  height: 20%;
}


li:focus {
  background-color: yellow;
}

section {
  display: flex;
  flex-direction: column;
  width: 95%;
  outline: ;
  justify-content: space-between;
}

.result {
  align-self: center;
  width: auto;
  background-color: #7abf8d;
  border-radius: 5px;
  padding: 10px;
}

.intro-article {
  display: flex;
  flex-direction: row;
  align-self: center;
  box-sizing: border-box;
  margin: 1em;
}

/* Fade in the currently hovered item */

/*
button:focus {
  animation: pulse 2s infinite;
}
button:hover {
  animation: none;
}*/

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
}

.lightning {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-direction:alternate
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: -moz-transform;
    transition-duration: 1s;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes grow {
    from {
        -webkit-transform:scale(1);
    }
    to {
        -webkit-transform:scale(4.333);
    }
}
@-moz-keyframes grow {
    from {
        -moz-transform:scale(1);
    }
    to {
        -moz-transform:scale(4.333);
    }
}
@keyframes grow {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(4.333);
    }
}