.lightning {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-direction:alternate
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: -moz-transform;
    transition-duration: 1s;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes grow {
    from {
        -webkit-transform:scale(1);
    }
    to {
        -webkit-transform:scale(4.333);
    }
}
@-moz-keyframes grow {
    from {
        -moz-transform:scale(1);
    }
    to {
        -moz-transform:scale(4.333);
    }
}
@keyframes grow {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(4.333);
    }
}